# Toronto Neighborhoods
### Part 2 of the explore, segment, and cluster the neighborhoods in the city of Toronto task

As always, first import the needed modules

In [14]:
#First, lets import all the libraries to be used on this notebook
import pandas as pd
import numpy as np
import requests
print('Libraries Imported!')

Libraries Imported!

<hr style="background-color: rgb(0,0,255);height: 3.0px;"/>

__And load the dataframe we saved in Part 1__

In [15]:
df = pd.read_csv('Toronto-part1.csv')
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

<hr style="background-color: rgb(0,0,255);height: 3.0px;"/>

We will use the Geocoder Python package to find the lon/lat values for each neighborhood: https://geocoder.readthedocs.io/index.html

In [ ]:
# geocoder
import geocoder

# Create 2 placeholder dataframes for temporal storage of the reply
df['Latitude']  = ''
df['Longitude'] = ''

# loop through the postal code to find the coordinates
for index, data in df.iterrows():
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(data['PostalCode']))
        lat_lng_coords = g.latlng
        # print('Trying ...')
    data['Latitude']  = lat_lng_coords[0]
    data['Longitude'] = lat_lng_coords[1]
    print ('PostalCode:', data['PostalCode'], 'Latitude:', data['Latitude'], 'Longitude:', data['Longitude'])

<hr style="background-color: rgb(0,0,255);height: 3.0px;"/>

This is clearly not as Simple and consistent as specified on the webpage: https://geocoder.readthedocs.io/index.html

Im going to skip this cell for now and switch to using the supplied dataframe as have used all 2500 tries for today as yesterday

In [16]:
#Read CSV file from link and load into dataframe
df_zip_ll = pd.read_csv('http://cocl.us/Geospatial_data')
df_zip_ll.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

<hr style="background-color: rgb(0,0,255);height: 3.0px;"/>

df_zip_ll contains all info we need but now we need to merge the data with "df" containing the bourough and neighbourhood names

http://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [17]:
# Create a new dataframe based on both dataframes, linked on there zip code
df_toronto = pd.merge(df, df_zip_ll, how = 'left', left_on=['PostalCode'], right_on=['Postal Code'])

# Drop the double zipcode
df_toronto = df_toronto.drop(columns=['Postal Code'])

df_toronto.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [18]:
# Show what we are working with
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(df_toronto['Borough'].unique()),
        df_toronto.shape[0]
    )
)

The dataframe has 11 boroughs and 103 neighborhoods.

<hr style="background-color: rgb(0,0,255);height: 3.0px;"/>

You can decide to work with only boroughs that contain the word Toronto and then replicate the same analysis we did to the New York City data.

In [19]:
# First im going to save the full set for future use
df_toronto.to_csv('Toronto-part2-full.csv', encoding='utf-8', index=False)

#Create new dataset
df_toronto = df_toronto[df_toronto['Borough'].str.contains('Toronto')]
df_toronto.reset_index(inplace=True)
df_toronto.drop('index', axis=1, inplace=True)
df_toronto.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M4E,East Toronto,The Beaches,43.676357,-79.293031
1,M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188
2,M4L,East Toronto,"The Beaches West, India Bazaar",43.668999,-79.315572
3,M4M,East Toronto,Studio District,43.659526,-79.340923
4,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790

In [20]:
# Show what we are working with
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(df_toronto['Borough'].unique()),
        df_toronto.shape[0]
    )
)

The dataframe has 4 boroughs and 38 neighborhoods.

In [23]:
print('The 4 Boroughs are:')
df_toronto['Borough'].unique()

The 4 Boroughs are:

array(['East Toronto', 'Central Toronto', 'Downtown Toronto',
       'West Toronto'], dtype=object)

In [21]:
# And save the filtered set with only 4 boroughs
df_toronto.to_csv('Toronto-part2-filtered.csv', encoding='utf-8', index=False)